In [1]:
import pandas as pd

In [2]:
job_post = pd.read_csv('D:\GA\project_submission\project-4\datajob\datajob\datajob_0430_250pages.csv', na_filter=False)

In [3]:
job_post.head()

,company_name,job_categories,job_experience,job_level,job_link,job_location,job_requirement,job_role_resp,job_salaries_max,job_salaries_min,job_salaries_type,job_skills,job_title,job_type
0,NTT DATA SINGAPORE PTE. LTD.,"Banking and Finance, Information Technology",,"Manager, Professional",https://www.mycareersfuture.sg/job/project-man...,"KEPPEL TOWERS, 10 HOE CHIANG ROAD 089315","Project management,/Scrum Master/Business Anal...",We are looking for versatile project manager w...,"$9,200","$7,500",Monthly,"Budgets,Business Analysis,Business Development...",Project Manager- Data Security,Contract
1,NTUC ENTERPRISE CO-OPERATIVE LTD,"Education and Training, Information Technology",,Middle Management,https://www.mycareersfuture.sg/job/vice-presid...,,Must be highly technical/strong hardware and s...,"COMPANY DESCRIPTION,NTUC Enterprise is the hol...","$13,000","$8,000",Monthly,"Business Analysis,Business Intelligence,Data A...","Vice President, Enterprise Data Warehouse",Full Time
2,BIOFOURMIS SINGAPORE PTE. LTD.,Engineering,,Senior Executive,https://www.mycareersfuture.sg/job/big-data-en...,"VISION EXCHANGE, 2 VENTURE DRIVE 608526","~,Advanced working SQL knowledge and experienc...",We are looking for a savvy Data Engineer to jo...,"$6,700","$5,200",Monthly,"Agile Methodologies,C#,C++,HTML,Integration,Ja...",Big Data Engineer,Permanent
3,NTUC ENTERPRISE CO-OPERATIVE LTD,Information Technology,,Executive,https://www.mycareersfuture.sg/job/data-govern...,,"Requirements:,Relevant years’ experience in en...","COMPANY DESCRIPTION,NTUC Enterprise is the hol...","$8,000","$5,000",Monthly,"Access,Business Analysis,Business Intelligence...",Data Governance Officer,Full Time
4,CHASSASIA (SINGAPORE) PTE. LTD.,Information Technology,,Professional,https://www.mycareersfuture.sg/job/senior-data...,"HENDERSON BUILDING, 221 HENDERSON ROAD 159557",BS degree in Computer Science or a related tec...,Participated in Projects delivery SDLC - from ...,"$7,500","$6,000",Monthly,"Active Directory,Data Center,Integration,ITIL,...",Senior Data Engineer,Full Time

In [4]:
job_post.columns

Index(['company_name', 'job_categories', 'job_experience', 'job_level',
       'job_link', 'job_location', 'job_requirement', 'job_role_resp',
       'job_salaries_max', 'job_salaries_min', 'job_salaries_type',
       'job_skills', 'job_title', 'job_type'],
      dtype='object')

In [5]:
job_post.shape

(4013, 14)

In [6]:
job_post.drop_duplicates(keep='first', inplace=True)
job_post.reset_index(drop=True, inplace=True)

In [7]:
data_scientist = job_post[job_post.job_title.str.lower().str.contains('data scientist')]
data_scientist = pd.concat([data_scientist,job_post[job_post.job_title.str.lower().str.contains('data science')]])
data_scientist = pd.concat([data_scientist,job_post[job_post.job_title.str.lower().str.contains('machine learning')]])

data_scientist.drop_duplicates(keep='first', inplace=True)
data_scientist.shape

(123, 14)

In [8]:
data_analyst = job_post[job_post.job_title.str.lower().str.contains('data analytics')]
data_analyst = pd.concat([data_analyst,job_post[job_post.job_title.str.lower().str.contains('data analyst')]])
data_analyst = pd.concat([data_analyst,job_post[job_post.job_title.str.lower().str.contains('data analysis')]])
data_analyst.drop_duplicates(keep='first', inplace=True)
data_analyst.shape

(95, 14)

In [9]:
data_engineer = job_post[job_post.job_title.str.lower().str.contains('data engineer')]
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('data engineering')]])
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('data migration')]])
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('security')]])
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('cloud')]])
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('system engineer')]])
data_engineer = pd.concat([data_engineer,job_post[job_post.job_title.str.lower().str.contains('network engineer')]])




data_engineer.drop_duplicates(keep='first', inplace=True)
data_engineer.shape

(260, 14)

In [23]:
# all other analysis
# business_analyst = job_post.loc[job_post.job_title.str.lower().str.contains('business analyst')]
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('business analysis')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('finance analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('risk analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('lead analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('supply chain analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('market analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('reporting analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('sales analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('operation analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('operations analyst')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('crime analytic')]])
# business_analyst = pd.concat([business_analyst,job_post[job_post.job_title.str.lower().str.contains('product analytic')]])

other_analyst = job_post.loc[job_post.job_title.str.lower().str.contains('analyst')]
other_analyst = pd.concat([other_analyst,job_post[job_post.job_title.str.lower().str.contains('analysis')]])
other_analyst = pd.concat([other_analyst,job_post[job_post.job_title.str.lower().str.contains('analytics')]])

other_analyst.drop(index = data_analyst.index, inplace=True)

other_analyst.drop_duplicates(keep='first', inplace=True)
other_analyst.shape

(336, 14)

In [24]:
other_analyst.index

Int64Index([  42,   57,   60,   65,   72,  155,  157,  206,  327,  338,
            ...
            2406, 2407, 2764, 3025, 3433, 3438, 3611, 3612, 3950, 3963],
           dtype='int64', length=336)

In [11]:
data_entry = job_post.loc[job_post.job_title.str.lower().str.contains('data entry')]
data_entry.shape

(14, 14)

In [12]:
research = job_post.loc[job_post.job_title.str.lower().str.contains('research')]
research.shape

(241, 14)

In [38]:
solution_architect = job_post.loc[job_post.job_title.str.lower().str.contains('architect')]
solution_architect = pd.concat([solution_architect,job_post[job_post.job_title.str.lower().str.contains('architecture')]])
solution_architect = pd.concat([solution_architect,job_post[job_post.job_title.str.lower().str.contains('solution')]])

solution_architect.drop_duplicates(keep='first', inplace=True)

solution_architect.shape

(124, 14)

In [40]:
keep = pd.concat([data_scientist, data_analyst, data_engineer, other_analyst,data_entry,research, solution_architect]).index

In [41]:
keep

Int64Index([  19,   26,   30,   35,   38,   48,   50,   51,   52,   53,
            ...
            2608, 2688, 3044, 3108, 3153, 3251, 3489, 3510, 3557, 3712],
           dtype='int64', length=1193)

In [42]:
remove = [ele for ele in range(len(job_post)) if ele not in keep]

In [43]:
job_post.iloc[remove,:]

,company_name,job_categories,job_experience,job_level,job_link,job_location,job_requirement,job_role_resp,job_salaries_max,job_salaries_min,job_salaries_type,job_skills,job_title,job_type
1,NTUC ENTERPRISE CO-OPERATIVE LTD,"Education and Training, Information Technology",,Middle Management,https://www.mycareersfuture.sg/job/vice-presid...,,Must be highly technical/strong hardware and s...,"COMPANY DESCRIPTION,NTUC Enterprise is the hol...","$13,000","$8,000",Monthly,"Business Analysis,Business Intelligence,Data A...","Vice President, Enterprise Data Warehouse",Full Time
3,NTUC ENTERPRISE CO-OPERATIVE LTD,Information Technology,,Executive,https://www.mycareersfuture.sg/job/data-govern...,,"Requirements:,Relevant years’ experience in en...","COMPANY DESCRIPTION,NTUC Enterprise is the hol...","$8,000","$5,000",Monthly,"Access,Business Analysis,Business Intelligence...",Data Governance Officer,Full Time
14,ALEXANDER MANN BPO SOLUTIONS (SINGAPORE) PTE. ...,Banking and Finance,,Professional,https://www.mycareersfuture.sg/job/officer-cha...,"SGX CENTRE I, 2 SHENTON WAY 068804",Proven experience in a Change function. Previo...,"About Bank of America Merrill Lynch:,Our purpo...","$8,000","$4,000",Monthly,"Analysis,Business Strategy,Change Management,C...","Officer, Change Support, Reference Data Servic...",Permanent
20,VALID ASIA PRIVATE LIMITED,"Engineering, Information Technology",,Professional,https://www.mycareersfuture.sg/job/assistant-e...,"STARHUB GREEN, 67 UBI AVENUE 1 408942","Minimum Poly Diploma in IT or Engineering,1 ye...",Responsible for all data generation process fo...,"$3,400","$2,300",Monthly,"Agile Methodologies,C,C#,C++,CSS,Eclipse,Git,H...",Assistant / Engineer – Data Generation,Permanent
24,Singapore Tourism Board,Information Technology,,Professional,https://www.mycareersfuture.sg/job/consultant-...,"TOURISM COURT, 1 ORCHARD SPRING LANE 247729","At least 5 years of working experience, prefer...","Purpose of job :,Develop, communicate and impl...","$6,000","$4,000",Monthly,"Analysis,Business Analysis,Business Developmen...",Consultant / Senior Consultant (Data Quality),Permanent
68,THATZ INTERNATIONAL PTE LTD,Hospitality,,Executive,https://www.mycareersfuture.sg/job/data-center...,"THE ADELPHI, 1 COLEMAN STREET 179803","Job Requirements:,A minimum of 3 years hands-o...",Are you the right person we are looking for as...,"$6,500","$3,500",Monthly,"Analysis,Business Analysis,C,CRM,Customer Serv...",Data Center Operation Engineers (3 positions),"Contract, Full Time"
69,EIRE SYSTEMS SINGAPORE PTE. LTD.,Information Technology,,Professional,https://www.mycareersfuture.sg/job/data-center...,"KEPPEL BAY TOWER, 1 HARBOURFRONT AVENUE 098632","Essential:,Strong data centre experience & BAU...","Project Duration: 6 months,The successful cand...","$5,000","$3,000",Monthly,"Cabling,Cisco Technologies,Cloud Computing,Dat...",Data Center Operations Engineer,Full Time
73,Singapore Land Authority,"Information Technology, Public / Civil Service",,Executive,https://www.mycareersfuture.sg/job/senior-exec...,"REVENUE HOUSE, 55 NEWTON ROAD 307987",,"Senior Executive, Data Warehouse Management,Jo...","$6,000","$3,500",Monthly,"Access,Analysis,Analytics,Business Analysis,Bu...","Senior Executive, Data Warehouse Management",Full Time
76,PROCTER & GAMBLE INTERNATIONAL OPERATIONS SA S...,"Engineering, Information Technology, Sciences ...",,"Fresh/entry level, Professional",https://www.mycareersfuture.sg/job/data-transf...,"UOB PLAZA, 80 RAFFLES PLACE 048624","Technical Mastery/Expertise required include:,...",We are looking for a talented candidate with e...,"$8,500","$5,100",Monthly,"AutoCAD,C,C++,Engineering,Integration,Java,Lin...",Data Transformation Scientist,"Permanent, Full Time"
78,GOOGLE ASIA PACIFIC PTE. LTD.,"Engineering, Repair and Maintenance",,Executive,https://www.mycareersfuture.sg/job/data-center...,"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","Minimum qualifications:,- Bachelor's degree in...","Company overview:,Google is not a conventional...","$11,400","$5,700",Monthly,"Budgets,Construction,Contract Negotiation,Cust...",Data Center Facilities Manager - Singapore,Full Time
95,Singapore Land Authority,"Information Technology, Public / Civil Service",,Fresh/entry level,https://www.mycareersfuture.sg/job/senior-exec...,"REVENUE HOUSE, 55 NEWTON ROAD 307987",,"Senior Executive, Data Services,Job Scope:,Pro...","$5,600","$2,800",Monthly,"Access,Analysis,Analytics,Business Analysis,Bu...","Senior Executive, Data Services",Full Time
123,HELIUS TECHNOLOGIES PTE. LTD.,Information Technology,,"Professional, Executive",https://www.mycareersfuture.sg/job/data-specia...,"INTERNATIONAL PLAZA, 10 ANSON ROAD 079903","Requirements,Degree in Banking, Computer Scien...","Responsibilities,Assess all the data input req...","$6,000","$5,000",Monthly,"Agile Methodologies,Business Intelligence,C#,C...",Data Specialist (Python),"Contract, Full Time"
143,BEATHCHAPMAN (PTE. LTD.),Information Technology,,Manager,https://www.mycareersfuture.sg/job/data-devops...,"TWENTY ANSON, 20 ANSON ROAD 079912","Requirements,AWS Certified Solutions Architect...","Online Booking Service,Data and DevOps combine...","$14,000","$12,000",Monthly,"Business Analysis,Business Intelligence,Data A...",Data / DevOps Engineer,Permanent
145,COVANCE (ASIA) PTE. LTD.,Healthcare / Pharmaceutical,,Professional,https://www.mycareersfuture.sg/job/data-manage...,"THE SYNERGY, 1 INTERNATIONAL BUSINESS PARK 609917","Bachelor's Degree in relevant fields,4 years o...",Engage client data management during start up....,"$8,000","$5,000",Monthly,"Access,Business Analysis,Business Intelligence...",Data Manager (Central Lab),"Permanent, Full Time"
152,GLOBAL SINOTRUST PTE. LTD.,Admin / Secretarial,,Executive,https://www.mycareersfuture.sg/job/data-proces...,"WIN 5, 15 YISHUN INDUSTRIAL STREET 1 768091",Most companies will not require any formal edu...,Data processors spend the majority of their da...,"$4,000","$2,000",Monthly,"Analysis,Business Analysis,Clinical Data Manag...",Data Processing Executive,Full Time
160,TBWA SINGAPORE PTE LTD,Advertising / Media,,"Manager, Senior Executive",https://www.mycareersfuture.sg/job/data-strate...,991C ALEXANDRA ROAD 119971,"A good professional Degree,Minimum 4 years rel...","Role,A dynamic and energetic Data Strategist w...","$7,000","$5,000",Monthly,"Advertising,Brand Architecture,Brand Developme...",Data Strategist,"Permanent, Contract, Freelance, Full Time"
161,JOHNSON & JOHNSON PTE. LTD.,"Engineering, Information Technology",,Professional,https://www.mycareersfuture.sg/job/lead-data-c...,"ASCENT, 2 SCIENCE PARK DRIVE 118222","Required Minimum Education:,Bachelor’s Degree ...",The role of Lead Data Center Engineer is owner...,"$10,000","$5,000",Monthly,"AutoCAD,C,C++,Engineering,Integration,Java,Lin...",Lead Data Center Engineer,Permanent
167,GRABTAXI HOLDINGS PTE. LTD.,Information Technology,,Professional,https://www.mycareersfuture.sg/job/data-govern...,"OUE DOWNTOWN, 6 SHENTON WAY 068809",Experience working with data as an organizatio...,Work with teams across Grab to gain a solid un...,"$12,000","$7,000",Monthly,"Agile Methodologies,C,C#,C++,CSS,Eclipse,Git,H...",Data Governance Engineer,"Permanent, Full Time"
169,ROBERT WALTERS (SINGAPORE) PTE LTD,"Engineering, Information Technology, Logistics...",,Professional,https://www.mycareersfuture.sg/job/project-spe...,6 BATTERY ROAD 049909,"•Recognized Degree in Engineering (Industrial,...","•Lead in Procurement data preparation, cleansi...","$7,000","$4,000",Monthly,"Agile Methodologies,CAPA,Change Control,Custom...",Project Specialist – Data Assurance,"Part Time, Contract"
171,CHEIL SINGAPORE PTE. LTD.,Advertising / Media,,Professional,https://www.mycareersfuture.sg/job/data-planne...,"MAPLETREE BUSINESS CITY, 30 PASIR PANJANG ROAD...",Capability to build marketing plan based on co...,CDM solution consulting to SAMSUNG SEA(South E...,"$6,000","$5,000",Monthly,"Advertising,Brand Architecture,Brand Developme...",Data Planner,Full Time
176,MARKS SATTIN (SINGAPORE) PTE. LIMITED,Information Technology,,Executive,https://www.mycareersfuture.sg/job/data-integr...,"GUOCO TOWER, 1 WALLICH STREET 078881","- Experience in Demand Planning, Supply Planni...",- Work as Integration Consultant for the Suppl...,"$22,000","$11,000",Monthly,"2G,3G,Engineering,GSM,Integration,Linux,LTE,Mi...",Data Integration Consultant,Full Time
186,DBS BANK LTD.,Information Technology,,Senior Executive,https://www.mycareersfuture.sg/job/senior-asso...,"MARINA BAY FINANCIAL CENTRE, 12 MARINA BOULEVA...","At least 2-5 years of relevant experience,Demo...","Business Function,Group Technology and Operati...","$10,000","$5,000",Monthly,"Accounting,Auditing,Business Development,Busin...","Senior Associate, Data Loss Prevention, Techno...",Full Time
189,HCL INSYS PTE. LTD.,Information Technology,,Professional,https://www.mycareersfuture.sg/job/data-center...,"RB CAPITAL BUILDING, 22 MALACCA STREET 048980","Must have Talent / Skills:,2-3 Years of experi...",• Extensive knowledge garnered working as a Da...,"$3,100","$2,500",Monthly,"AutoCAD,C,C++,Engineering,Integration,Java,Lin...",Data Center Support Engineer,Full Time
193,MANPOWER STAFFING SERVICES (SINGAPORE) PTE LTD,Information Technology,,"Executive, Junior Executive",https://www.mycareersfuture.sg/job/data-visual...,"GUOCO TOWER, 1 WALLICH STREET 078881","Bachelor or Master in Computer Science, Electr...",Responsible for the data visualization and rep...,"$5,000","$4,000",Monthly,"Business Continuity,CISSP,Computer Security,Da...",Data Visualisation Engineer (West),"Permanent, Full Time"
200,QUILT AI PTE. LTD.,"Engineering, Information Technology",,Manager,https://www.mycareersfuture.sg/job/data-statis...,"CMO BUILDING, 50 SOUTH BRIDGE ROAD 058682","Requirements and Qualifications:,Masters or Ph...","Key Responsibilities:,Extract, Transform and T...","$9,000","$7,000",Monthly,"Business Analysis,Business Intelligence,Data A...",Data Statistician,Full Time
209,SQRDOTS PRIVATE LIMITED,"Healthcare / Pharmaceutical, Information Techn...",,Executive,https://www.mycareersfuture.sg/job/data-produc...,12B SAGO STREET 059014,A minimum of a Master’s degree in either life ...,We're looking for an experienced data product ...,"$6,000","$5,000",Monthly,"Analysis,Business Analysis,Clinical Data Manag...",Data Product Manager,Full Time
215,IMPERIUM SOLUTIONS PTE. LTD.,Information Technology,,Executive,https://www.mycareersfuture.sg/job/big-data-pr...,"GREAT WORLD CITY, 1 KIM SENG PROMENADE 237994","Must have:,1) At least 03 years of IT related ...",1) Study business and application specific req...,"$6,000","$3,500",Monthly,"Business Analysis,Business Development,Busines...",Big data Presales,Full Time
216,THOMSON REUTERS CORPORATION PTE. LTD.,Advertising / Media,,Professional,https://www.mycareersfuture.sg/job/data-visual...,18 SCIENCE PARK DRIVE 118229,"Requirements:,Mastery of HTML5, CSS3 and javas...","Job Description,Reuters is looking for a front...","$12,000","$10,000",Monthly,"AJAX,C#,CSS,Git,HTML,HTML 5,Java,JavaScript,jQ...",Data Visualisation Developer,Full Time
222,ASPIRE GLOBAL NETWORK PTE. LTD.,Advertising / Media,,Professional,https://www.mycareersfuture.sg/job/data-strate...,"CHINA SQUARE CENTRAL, 18 CROSS STREET 048423","About You,Bachelor's degree in a relative fiel...",A global digital agency is looking for an expe...,"$8,000","$6,000",Monthly,"Active Directory,Cisco Technologies,Data Cente...",Data Strategist,Permanent
223,MASTERCARD ASIA/PACIFIC PTE. LTD.,Consulting,,Middle Management,https://www.mycareersfuture.sg/job/vice-presid...,"DUO TOWER, 3 FRASER STREET 189352","All About You,• Experience with software and /...","Job Title: VP, Product Management,Overview,The...","$30,000","$20,000",Monthly,"Business Development,Business Strategy,Cross-f...","Vice President, Product Management - Platform,...",Permanent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,Company Undisclosed,General Management,10 years exp,Manager,https://www.mycareersfuture.sg/job/information...,,"Education Qualification: Bachelor Degree,Worki...",IT Manager is accountable for identifying and ...,"$17,000","$13,600",Monthly,"Active Directory,Business Analysis,Business In...",Information Technology Manager,Permanent
3969,Company Undisclosed,"Admin / Secretarial, Banking and Finance, Cust...",1 year exp,"Fresh/entry level, Executive, Non-executive",https://www.mycareersfuture.sg/job/operations-...,,"GCE ""N"" level and above (No experience require...",To ensure the dutiesare performed according to...,"$3,000","$2,000",Monthly,"Business Development,Business Strategy,Custome...",Operations Executive,Full Time
3970,Company Undisclosed,Advertising / Media,7 years exp,Middle Management,https://www.mycareersfuture.sg/job/regional-bu...,,Bachelor degree in related field or equivalent...,"Essential Experience :-,An experienced and exc...","$12,000","$10,000",Monthly,"Business Development,Business Strategy,Change ...",Regional Business Director,Permanent
3971,Company Undisclosed,Admin / Secretarial,1 year exp,Executive,https://www.mycareersfuture.sg/job/corporate-s...,,"Requirement,1. O Level / Diploma.,2. Independe...","Job Description,1. Report directly to a Partne...","$2,800","$2,600",Monthly,"Budgets,Business Strategy,Capital Markets,Chan...",Corporate Secretarial Executive,"Permanent, Full Time"
3972,Company Undisclosed,"Engineering, Manufacturing",2 years exp,Non-executive,https://www.mycareersfuture.sg/job/gq-nvmqra-s...,,"Qualifications and Experience,Excellent verbal...","GQ - NVMQRA SENIOR / ENGINEER (RMA),As a Non-V...","$6,000","$3,000",Monthly,"AutoCAD,C,C++,Engineering,Integration,Java,Lin...",GQ - NVMQRA SENIOR / ENGINEER (RMA),Full Time
3973,Company Undisclosed,Accounting / Auditing / Taxation,,Manager,https://www.mycareersfuture.sg/job/assistant-f...,,Degree in Accountancy or Finance or equivalent...,To lead and coach the finance team (including ...,"$5,500","$4,500",Monthly,"Account Reconciliation,Accounting,Accounts Pay...",Assistant Finance Manager,Full Time
3974,Company Undisclosed,Banking and Finance,,Manager,https://www.mycareersfuture.sg/job/finance-man...,,"•Diploma in Accounting or equivalent,•Minimum ...",•Assign account codes to all transactions in t...,"$8,300","$6,000",Monthly,"Accounting,Analysis,Auditing,Budgets,Business ...",Finance Manager,"Permanent, Full Time"
3975,Company Undisclosed,Information Technology,,Executive,https://www.mycareersfuture.sg/job/itsm-develo...,,- Diploma/Degree in Electrical/Electronic/Comp...,"- Responsible for the development, implementat...","$7,000","$3,500",Monthly,"Active Directory,Data Center,Integration,ITIL,...",ITSM Developer (BMC Remedy) (Ref 20932),"Contract, Full Time"
3976,Company Undisclosed,Accounting / Auditing / Taxation,,Executive,https://www.mycareersfuture.sg/job/accounts-ex...,"UBI TECHPARK, 10 UBI CRESCENT 408564","•Diploma in Accounting or equivalent,•Minimum ...",•Assign account codes to all transactions in t...,"$3,300","$2,400",Monthly,"Account Management,Advertising,Digital Marketi...",Accounts Executive / Assistant,Full Time
3977,Company Undisclosed,General Work,,Fresh/entry level,https://www.mycareersfuture.sg/job/account-ass...,,"Minimum O level/ Diploma or equivalent,Basic c...",support day to day accounting including data e...,"$2,000","$1,800",Monthly,"Account Reconciliation,Accounting,Accounts Pay...",account assistant,Full Time
3978,Company Undisclosed,Engineering,,Executive,https://www.mycareersfuture.sg/job/planning-en...,,Degree in Mechanical Engineering with at least...,A) Plan major Jobs with assistance and directi...,"$6,500","$4,500",Monthly,"AutoCAD,Civil Engineering,Construction,Constru...",Planning Engineer,Full Time
3979,Company Undisclosed,Engineering,,Middle Management,https://www.mycareersfuture.sg/job/quality-con...,,"Prior experience in sheetmetal house,Specializ...","Perform inspection of incoming products, mater...","$6,500","$3,500",Monthly,"Construction,Cross-functional Team Leadership,...",Quality Control / Assurance Engineer,Full Time
3980,Company Undisclosed,Admin / Secretarial,,Senior Management,https://www.mycareersfuture.sg/job/human-resou...,,~ Analyse employee demographics and associated...,The Human Resource Executive (Performance and ...,"$3,800","$3,300",Monthly,"Change Management,Coaching,Employee Engagement...",Human Resource & Administrative Officer,Full Time
3981,Company Undisclosed,Others,,Junior Executive,https://www.mycareersfuture.sg/job/operations-...,"SUNTEC TOWER ONE, 7 TEMASEK BOULEVARD 038987",~ Acquire and allocate resources to support op...,The Operations Executive is involved in the da...,"$6,000","$4,000",Monthly,"Business Development,Business Strategy,Custome...",Operations Executive (Sea Transport),Permanent
3982,Company Undisclosed,Information Technology,,Executive,https://www.mycareersfuture.sg/job/power-bi-de...,,3+ years experience developing and implementin...,"The Power BI developer is to develop reports, ...","$6,000","$4,000",Monthly,".NET,Agile Methodologies,ASP.NET,C#,C++,CSS,Da...",POWER BI DEVELOPER,"Contract, Full Time"
3983,Company Undisclosed,Engineering,,Manager,https://www.mycareersfuture.sg/job/acmv-local-...,,Possess at least Degree / Diploma in Mechanica...,"Preparation of detail M&E drawings, shop drawi...","$6,000","$4,000",Monthly,"Architectural Design,Architectural Drawings,Ar...",ACMV Local Designer,Full Time
3984,Company Undisclosed,Admin / Secretarial,,Senior Management,https://www.mycareersfuture.sg/job/senior-mana...,,~ Analyse data for business insights identific...,The Manager/Senior Manager uses data analytics...,"$8,000","$5,000",Monthly,"Business Analysis,Business Development,Busines...",Senior Manager,Full Time
3985,Company Undisclosed,Admin / Secretarial,,Manager,https://www.mycareersfuture.sg/job/manager-d06...,,~ Analyse data for business insights identific...,The Manager/Senior Manager uses data analytics...,"$8,000","$5,000",Monthly,"Business Development,Business Strategy,Change ...",Manager,Full Time
3988,Company Undisclosed,Admin / Secretarial,,Senior Management,https://www.mycareersfuture.sg/job/senior-mana...,,~ Analyse data for business insights identific...,The Manager/Senior Manager uses data analytics...,"$8,000","$5,000",Monthly,"Business Analysis,Business Development,Busines...",Senior Manager,Full Time
3989,Company Undisclosed,Admin / Secretarial,,Manager,https://www.mycareersfuture.sg/job/manager-66b...,,~ Analyse data for business insights identific...,The Manager/Senior Manager uses data analytics...,"$8,000","$5,000",Monthly,"Business Development,Business Strategy,Change ...",Manager,Full Time
3990,Company Undisclosed,"Admin / Secretarial, Banking and Finance, Cust...",,"Fresh/entry level, Executive, Non-executive",https://www.mycareersfuture.sg/job/operations-...,,"GCE ""N"" level and above (No experience require...",To ensure the dutiesare performed according to...,"$3,000","$2,000",Monthly,"Business Development,Business Strategy,Custome...",Operations Executive,Full Time
3991,Company Undisclosed,Admin / Secretarial,,Executive,https://www.mycareersfuture.sg/job/corporate-s...,,"Requirement,1. O Level / Diploma.,2. Independe...","Job Description,1. Report directly to a Partne...","$2,700","$2,500",Monthly,"Budgets,Business Strategy,Capital Markets,Chan...",Corporate Secretarial Executive,"Permanent, Full Time"
3992,Company Undisclosed,Information Technology,,Professional,https://www.mycareersfuture.sg/job/etl-develop...,"SAMSUNG HUB, 3 CHURCH STREET 049483","4+ years of experience as an Developer,Ø Expe...","ETL Developer,Design, code, and test major fea...","$7,000","$5,000",Monthly,"Agile Methodologies,Business Analysis,Business...",ETL Developer,Full Time

In [ ]:

job_post.loc[job_post.job_title.str.lower().str.contains('crime analytic'), ['job_title']].values

In [ ]:
job_post.loc[job_post.job_title.str.lower().str.contains('researcher'), ['job_title']].values

In [ ]:
data_analyst = job_post[job_post.job_title.str.lower().str.contains('data analytics')]
data_analyst = pd.concat([data_scientist,job_post[job_post.job_title.str.lower().str.contains('data analyst')]])

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from sklearn.feature_extraction import stop_words

In [ ]:
title_stop = list(stop_words.ENGLISH_STOP_WORDS)

In [ ]:
title_stop.extend(['3000', '3500', '4000', 'days', 'contract', '1-year', 'orchard', 'west', 'central', 'week', 'year','i2r','star', 'months','workday', 'day', 'shift', 'ot', 'joo', 'koon', 'clementi','river','valley'])

In [ ]:
title_stop = list(set(title_stop))

In [ ]:
title_stop.sort()

In [ ]:
countVect = CountVectorizer(stop_words=title_stop, min_df=max(int(len(job_post)/300), 5), ngram_range=(2,2), token_pattern=r'\b[^\d\W_]+\b')
title_vect = countVect.fit_transform(job_post.loc[:, 'job_title'])

In [ ]:
title_vect.shape

In [ ]:
df  = pd.DataFrame(title_vect.todense(),
             columns=countVect.get_feature_names())

In [ ]:
df.columns

In [ ]:
countVect = CountVectorizer(stop_words=title_stop, min_df=max(int(len(skill_matched)/100), 5), ngram_range=(2,3), token_pattern=r'\b[^\d\W_]+\b')
title_vect = countVect.fit_transform(job_post.loc[skill_matched, 'job_title'])

In [ ]:
title_vect.shape

In [ ]:
df  = pd.DataFrame(title_vect.todense(),
             columns=countVect.get_feature_names())

In [ ]:
df.columns

In [ ]:
countVect = CountVectorizer(stop_words=title_stop, min_df=max(int(len(role_matched)/100), 5), ngram_range=(2,3), token_pattern=r'\b[^\d\W_]+\b')
title_vect = countVect.fit_transform(job_post.loc[role_matched, 'job_title'])

In [ ]:
title_vect.shape

In [ ]:
df  = pd.DataFrame(title_vect.todense(),
             columns=countVect.get_feature_names())
df.columns

In [ ]:
countVect = CountVectorizer(stop_words=title_stop, min_df=max(int(len(remove_list)/100), 5), ngram_range=(2,3), token_pattern=r'\b[^\d\W_]+\b')
title_vect = countVect.fit_transform(job_post.loc[remove_list, 'job_title'])

In [ ]:
title_vect.shape

In [ ]:
df  = pd.DataFrame(title_vect.todense(),
             columns=countVect.get_feature_names())
df.columns